.link1:link,
.link1:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.link1:hover,
.link1:active {
  background-color: red;
}
