.images {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
}
img {
  width: 292px;
  height: 300px;
  margin: 0;
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (min-width: 600px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}
