* {
  font-size: 1.2rem;
}
.margin {
  background: #f1f1f1;
  border: 2px dashed #bbb;
  text-align: center;
  padding: 1rem 3rem 3rem 3rem;
}
.border {
  background: #04aa6d;
  border: none;
  padding: 1rem 3rem 3rem 3rem;
}
.padding {
  background: #f1f1f1;
  border: none;
  padding: 1rem 3rem 3rem 3rem;
}
.content {
  background: #ffffff;
  border: 2px dashed #bbb;
  padding: 1rem 3rem 3rem 3rem;
}
