article {
  width: 50%;
  height: 150px;
  overflow: scroll;
  background: #4caf50;
  color: #ffffff;
  padding: 1rem;
  text-align: justify;
}

#overflow-visible {
  overflow: visible;
  width: 150px;
  height: 100px;
  background: tomato;
  border: 1px solid #000000;
  color: #000000;
}

#overflow-hidden {
  overflow: hidden;
  width: 150px;
  height: 100px;
  background: tomato;
  border: 1px solid #000000;
  color: #000000;
}

#overflow-scroll {
  overflow: scroll;
  width: 100px;
  height: 110px;
  background: tomato;
  border: 1px solid #000000;
  color: #000000;
}

#overflow-auto {
  overflow: auto;
  width: 100px;
  height: 110px;
  background: tomato;
  border: 1px solid #000000;
  color: #000000;
}

#overflow-xy {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100px;
  height: 110px;
  background: tomato;
  border: 1px solid #000000;
  color: #000000;
}
